.workspaces-bar {
    -natural-hpadding: 0px;
}

.workspaces-bar-workspace-label {
    margin: 0 4px;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.workspaces-bar-workspace-label-active {
    color: white;
    background-color: rgb(88, 88, 88);
}

.workspace-box.dragged .workspaces-bar-workspace-label {
    color: white;
    background-color: rgb(88, 88, 88);
}

.workspaces-bar-workspace-label-empty.workspaces-bar-workspace-label-inactive {
    color: rgba(255, 255, 255, 0.5);
}

.new-workspace-button {
    /* -natural-hpadding: 0px; */
    /* -minimum-hpadding: 0px; */
    color: rgba(255, 255, 255, 0.5);
}

.workspaces-bar-menu .workspaces-bar-menu-heading {
    margin-left: 6px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 9pt;
}

.workspaces-bar-menu .popup-menu-ornament {
    width: 0 !important;
}
