.panel-button.workspaces-bar {
    -natural-hpadding: 0px;
}
.desktop-label {
    margin: 0 4px;
    padding: 3px 8px;
    border-radius: 4px;
}

.desktop-label-active {
    color: white;
    background-color: rgba(96, 96, 96, 0.7);
}

.desktop-label-empty.desktop-label-inactive {
    color: rgba(255, 255, 255, 0.5);
}

.new-workspace-button {
    /* -natural-hpadding: 0px; */
    /* -minimum-hpadding: 0px; */
    color: rgba(255, 255, 255, 0.5);
}